html,body,div,ul,li,img,input{
        padding: 0; 
        margin: 0;
}
input,button{
        border: 0; 
        outline: 0;
}
li{
        list-style: none;
}
a:hover{
        transition: all 150ms linear; 
        -webkit-transition: all 150ms linear; 
        -mos-transition: all 150ms linear; 
        -o-transition: all 150ms linear;
}
.all{
        max-width: 1403px; 
        min-height: 1024px;
}
.top{
        height: 100px;
}
.menu_bg{
        width: 100%; 
        height: 44px;
        background-color: #202020;
        box-shadow: 0 0 3px #c89b3c;
        position: relative;
        z-index: 3;
}
.menu_content{
        margin: 0 auto; 
        width: 1200px;
}
.menu_left ul li{
        float: left; 
        color: #a0a0a0; 
        font-size: 16px;
        line-height: 44px; 
        padding:0 10px;
}
.menu_left{
        float: left; 
        width: 800px;
}
.menu_right{
        float: right; 
        margin: 0 auto; 
        width: 400px;
}
.menu_right ul{
        height: 44px;
}
.menu_right ul li{
        float: left; 
        color: #a0a0a0; 
        font-size: 16px; 
        padding: 0 5px; 
        line-height: 44px;
}
.line{
        margin:0 10px; 
        color: #333;
}
.menu_right ul li a{
        text-decoration: none; 
        color: #a0a0a0;
}
.menu_right ul li a:hover{
        color: #c89b3c; 
        text-shadow:0 0 8px #c89b3c;
}
.menu_left ul li a{
        text-decoration: none; 
        color: #a0a0a0;
}
.menu_left ul li a:hover{
        color: #c89b3c; 
        text-shadow:0 0 8px #c89b3c;
}
.drop_down{
        float: left;
        height: 44px;
        width: 150px;
        color: #a0a0a0; 
        background-color: #202020; 
        font-size: 16px; 
        margin-left: 93px;
}
.drop_down .drop_down_con{
        width: 191px; 
        height: 0px; 
        background-color: #303030bb; 
        box-shadow: 0px 0px 2px #c89b3c; 
        margin-left: -42px;
        position: relative;
        z-index: 2;
        overflow: hidden; 
        transition: all 300ms ease 100ms;
        -moz-transition: all 300ms ease 100ms;
        -webkit-transition: all 300ms ease 100ms;
        -o-transition: all 300ms ease 100ms;
}
.drop_down_a{ 
        width: 150px; 
        height: 44px; 
        line-height:44px; 
        display: block; 
        color: #a0a0a0; 
        text-decoration: none;
}
.drop_down:hover .drop_down_con{
        height: 45px;
}
.drop_down_a span{
        float: right;
        width: 74px;
        display: block;
        text-align: center;
}
.drop_down_a span:hover{
        color: #c89b3c;
        text-shadow: 0 0 10px #c89b3c;
}
.content_bg{
        width: 1200px; 
        height: 120px; 
        margin: 0 auto;
}
.content_bg_img{
        display: block; 
        position: absolute; 
        left: 0; 
        z-index: -1;
}
.content_menu{
        width: 1200px; 
        height: 120px;
}
.content_left{
        float: left; 
        width: 200px; 
        height: 120px; 
        line-height: 120px;
}
.content-act-name{
        margin: 0 auto; 
        color: #ffcb60; 
        font-size: 50px; 
        font-weight: bold; 
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1))); 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;
}
.content_right{
        float: left; 
        width: 300px; 
        height: 120px;
}
.content_right_input{
        width: 268px; 
        height: 32px;
        margin: 46px 0 46px 32px;
        }
.content_right input{
        float: left; 
        width: 200px; 
        height: 30px;
        padding: 0 8px;
        color: rgb(224, 205, 162);
        background-color: #303030bb;
        font-size: 16px; 
        border: 1px 
        solid #c89b3c;
}
.content_right button:active{
        background-image: -webkit-gradient(linear, 0 100%, 0 0, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
}
.content_right button{
        float: left; 
        width: 50px; 
        height: 32px; 
        border: 1px solid #c89b3c; 
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255,232,184,1)), to(rgba(175,133,48,1)));
}
.content_right input:hover{
        background-color: rgba(83, 66, 46, 0.61);
}
.content_right_input button i{
        font-family: 'icomoon'; 
        font-style: normal; 
        color: aliceblue;
}
.content_middle{
        float: left; 
        width: 700px; 
        height: 120px; 
        line-height: 120px;
}
.content_middle ul li{
        float: left;
}
.content_middle ul{
        margin-left: 70px;
}
.content_middle a{
        text-decoration: none; 
        color: #c89b3c; 
        font-size: 20px; 
        font-weight: bold; 
        padding:47px 40px;
}
.content_middle a:hover{ 
        color: #ffcb60; 
        text-shadow:0 0 10px #c89b3c; 
        box-shadow: 0 0 5px #c89b3c; 
        background-color: #303030bb;
        
}
.content_middle_con{ 
        width: 100%;
        height: 0;
        background-color: #303030bb; 
        box-shadow: 0px 2px 2px #c89b3c; 
        border-top: 2px solid #c89c3c80;
        overflow: hidden;
        transition: all 300ms ease 100ms;
        -moz-transition: all 300ms ease 100ms;
        -webkit-transition: all 300ms ease 100ms;
        -o-transition: all 300ms ease 100ms;
}

.contant_middle_con_ul li{
        float: left; 
        padding: 10px 20px 10px 20px;
}
.contant_middle_con_ul img{
        width: 160px; 
        height: 250px; 
        box-shadow:0 0 8px #c89b3c;
}
.contant_middle_con_ul ul{
        margin: 0 auto; 
        width: 1100px; 
        height: 273px;
}
.contant_middle_con_ul{
        width: 1000px;
        height: 273px;
        margin: 0 auto;
}
/* 内容头部 */
.main{
        margin: 0 auto; 
        width: 1200px;
}
.side{
        width: 36px; 
        height: 500px;
        margin-left: 10px; 
        z-index: 2; 
        position: absolute;
        top: 320px;
        overflow: hidden;
}   
.side a{
        width: 100%; 
        margin: 0 2%; 
        height: 24px; 
        line-height: 24px; 
        text-align: center; 
        display: block; 
        font-size: 16px; 
        color: #5b6a7e; 
        text-decoration: none;
}  

